---
import LottieAnimation from "../utils/LottieAnimation.astro";
import SkillList from "../utils/SkilltList.jsx"
---

<section
    id="acerca"
    class="border-t border-Background-linea"
>
    <div class="flex flex-col gap-10 lg:flex-row mt-10 w-full mx-auto lg:w-[900px] my-14">
        <SkillList client:load/>
        <LottieAnimation />
    </div>
</section>
