---
import LottieAnimation from "./LottieAnimation.astro";
import SkillList from "../utils/SkilltList.jsx"
---

<section
    id="acerca"
    class="flex place-content-center border-t border-Background-linea mt-10"
>
    <div class="w-[900px] flex justify-center items-center flex-col gap-10 lg:flex-row mt-10">
        <SkillList client:load/>
        <LottieAnimation />
    </div>
</section>
