---

---

<header class="flex justify-between relative h-40 bg-gray-800">
    <div class="p-10 m-auto ml-10">
        <img
            class="w-12 h-12 rounded-full"
            src="https://elcomercio.pe/resizer/v2/6Y2EDIISGFGVFANEVDCR5LCG34.jpg?auth=f58b5c647a09717054d85bb8b9a6bc624bfcb14fe9c60b5246730ea6a513e2b0&width=1200&height=810&quality=90&smart=true"
            alt=""
        />
    </div>
    <div
        id="menu-btn"
        class="md:hidden text-4xl focus:outline-none m-auto mr-9 cursor-pointer text-white"
    >
        ☰
    </div>

    <nav
        id="menu"
        class="text-white hidden w-full h-screen md:h-auto absolute top-30 left-1/2 transform -translate-x-1/2 bg-gray-800 p-4 text-center md:flex md:m-auto md:static md:align-items md:w-auto md:bg-transparent md:translate-x-0"
    >
        <li class="list-none text-3xl m-5">
            <a href="">Inicio</a>
        </li>
        <li class="list-none text-3xl m-5">
            <a href="">Acerca</a>
        </li>
        <li class="list-none text-3xl m-5">
            <a href="">Proyectos</a>
        </li>
        <li class="list-none text-3xl m-5">
            <a href="">Contacto</a>
        </li>
    </nav>
</header>

<!-- Script que se ejecuta solo en el cliente -->
<script client:load>
    document.addEventListener("DOMContentLoaded", () => {
        const menuBtn = document.getElementById("menu-btn");
        const menu = document.getElementById("menu");

        menuBtn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
            menuBtn.textContent = menu.classList.contains("hidden")
                ? "☰"
                : "✖";
        });
    });
</script>
