---

---

<header class="w-full left-1/2 transform -translate-x-1/2 max-w-screen-xl fixed top-0 z-50 bg-Background-body">
    <div class="flex justify-between m-auto gap-10 h-40">
        <div class="m-auto ml-10">
            <a href="#inicio" class="text-3xl text-Violet-text">DB|WEB</a>
          
        </div>
        <div
            id="menu-btn"
            class="md:hidden text-4xl focus:outline-none m-auto mr-9 cursor-pointer text-white"
        >
            ☰
        </div>
    
        <nav
            id="menu"
            class="text-white hidden w-full h-screen md:h-auto absolute top-48 left-1/2 transform -translate-x-1/2 bg-Background-body md:flex  md: md:my-auto md:static md:w-auto md:bg-transparent md:translate-x-0 z-10 border-white"
        >
            <li
                class="list-none text-xl m-5 hover:text-Violet-text transition duration-300 ease-in-out ..."
            >
                <a href="#inicio">Inicio</a>
            </li>
            <li
                class="list-none text-xl m-5 hover:text-Violet-text transition duration-300 ease-in-out ..."
            >
                <a href="#acerca">Acerca</a>
            </li>
            <li
                class="list-none text-xl m-5 hover:text-Violet-text transition duration-300 ease-in-out ..."
            >
                <a href="#proyectos">Proyectos</a>
            </li>
            <li
                class="list-none text-xl m-5 hover:text-Violet-text transition duration-300 ease-in-out ..."
            >
                <a href="#contacto">Contacto</a>
            </li>
        </nav>
    </div>
 
</header>

<!-- Script que se ejecuta solo en el cliente -->
<script client:load>
    document.addEventListener("DOMContentLoaded", () => {
        const menuBtn = document.getElementById("menu-btn");
        const menu = document.getElementById("menu");

        menuBtn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
            menuBtn.textContent = menu.classList.contains("hidden")
                ? "☰"
                : "✖";
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll("a[href^='#']");
        console.log("Soy los links",links)
        links.forEach((link) => {
            link.addEventListener("click", function (e) {
                e.preventDefault();

                const targetId = this.getAttribute("href").substring(1);
                const targetElement = document.getElementById(targetId);

                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: "smooth" });
                }
            });
        });
    });
</script>
