<section id="proyectos" class="border-t border-Background-linea mt-10">
    <div class="w-full mx-auto lg:w-[900px] my-14">
        <h2 class="text-lg mb-2 text-Violet-background mt-10">Mis trabajos</h2>
        <h3 class="text-5xl text-White-Principal mb-8">Proyectos</h3>
        <div class="grid">
            <div>
                <a href="">
                    <div><img src="" alt=""></div>
                </a>
            </div>
            <div>
                <a href="">
                    <div>
                        <img src="" alt="">
                    </div>
                </a>
            </div>
        </div>
        <a href=""></a>
    </div>
</section>
