---
import "@fontsource-variable/onest";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../../public/svg/icons-favicon-DB.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Damián Bermúdez - porfolio web</title>
	</head>
	<body>
		<slot />
	</body>
</html>

