---
import "@fontsource-variable/onest";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta
			http-equiv="cache-control"
			content="no-cache, no-store, must-revalidate"
		/>
		<meta http-equiv="expires" content="0" />
		<meta name="color-scheme" content="dark light" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="description"
			content="Portfolio web de Damián Bermúdez, desarrollador web. Conoce mis proyectos y servicios."
		/>
		<meta
			name="keywords"
			content="Damián Bermúdez, portfolio, desarrollo web, programación, proyectos web"
		/>
		<meta property="og:title" content="Damián Bermúdez - Portfolio Web" />
		<meta
			property="og:description"
			content="Desarrollador web especializado en tecnologías modernas. ¡Mirá mi trabajo!"
		/>

		<meta
			property="og:image"
			content="https://damianbermudezdev.es/svg/captura-porfolio.png"
		/>
		<meta property="og:url" content="https://damianbermudezdev.es/" />
		<meta property="og:type" content="website" />
		<meta name="author" content="Damián Bermúdez" />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#5a2ca0" />
		<link rel="canonical" href="https://damianbermudezdev.es/" />
		<link rel="icon" type="image/svg+xml" href="/svg/icons-favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Damián Bermúdez - porfolio web</title>
	</head>
	<body>
		<slot />
	</body>
</html>
